@font-face {
    src: url("/fonts/TitilliumWeb-Roman-VF.woff2") format("woff2-variations");
    font-family: "Titillium Web Var";
    font-style: normal;
}

@font-face {
    src: url("/fonts/TitilliumWeb-Italic-VF.woff2") format("woff2-variations");
    font-family: "Titillium Web Var";
    font-style: italic;
}
